.style{
  border-collapse: collapse;
  border: 1px solid black;
  overflow: auto;
}
.style tr th{
  border: 2px solid black;
  min-height: 100px;
  background-color: blue;
  color: #fff;
  font-size: 16px;
  padding: 5px;
}
.style tr td{
  border: 2px solid black;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}